@media (max-width: 1239px) {
    .container {
        max-width: 730px;
    }

    .header__container {
        position: relative;
    }

    .header__nav-up .header__nav-list .header__nav-item {
        &:nth-child(1), &:nth-child(4), &:nth-child(5) {
            display: none;
        }
    }

    .header__nav-up .header__nav-list .header__nav-item .header__nav-link .header__nav-link {
        font-size: 14px;
    }

    .header__feedback {
        width: 150px;
        min-height: 34px;
        font-size: 12px;
    }

    #clock {
        font-size: 24px;
    }

    .header__hamburger {
        display: flex;
    }

    .footer {
        padding: 40px 0 50px;
    } 

    .footer--offset {
        margin-top: 100px;
    }

    .footer__wrapper {
        padding: 0 20px;
    }

    .footer-categories__title {
        font-size: 15px;
    }

    .footer__links .footer-nav__item .footer-nav__link {
        font-size: 15px;
    }

    .footer-categories__list .footer-categories__link {
        font-size: 14px;
    }

    .footer-categories__list {
        margin-top: 28px;
    }

    .footer-copyright {
        margin-top: 35px;
    }

    .footer-copyright .footer-copyright__company {
        font-size: 16px;
    }

    .footer-copyright .footer-copyright__policy {
        font-size: 16px;
    }

    .modal__content {
        width: 568px;
        padding: 35px 27px 40px 31px;
    }

    .modal__title {
        font-size: 24px;
    }

    .modal__form {
        margin-top: 26px;
    }

    .modal__checkbox {
        margin-top: 30px;
    }

    .modal__btn {
        margin-top: 22px;
        font-size: 18px;
    }
}

@media (max-width: 767px) { 
    .container {
        max-width: 340px;
    }

    .header__nav {
        display: none;
    }

    .header__account {
        display: none;
    }

    .header__feedback {
        display: none;
    }

    .header__nav-down .header__nav-list {
        flex-direction: column;
    }

    .header__nav-down .header__nav-list .header__nav-item {
        margin-bottom: 5px;
  
    }

    .footer {
        padding: 60px 0 35px;
    }

    .footer--offset {
        margin-top: 90px;
    }

    .footer-categories__title {
        font-size: 16px;
    }

    .footer__links .footer-nav__item {
        margin-bottom: 15px;
        margin-left: 0;
    }

    .footer__links .footer-nav__item .footer-nav__link {
        font-size: 16px;
    }

    .footer__wrapper {
        flex-direction: column;
      }
    
    .footer-categories {
        max-width: 100%;
    }
    
    .footer-nav {
        display: grid;
        margin-top: 47px;
        grid-template-columns: repeat(2, 1fr);
    }
      
    .footer-nav__item--review {
        grid-row: 2 / 3
    }
    
    .footer__links {
        flex-grow: unset;
    }

    .footer-copyright {
        display: grid;
        column-gap: 10px;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
        row-gap: 15px;
    }

    .footer-copyright .footer-copyright__company {
        grid-column: 1/3;
        grid-row: 1/2;
    }

    .footer-copyright .footer-copyright__policy {
        font-size: 16px;
        line-height: 20px;
    }

    .footer-copyright .footer-copyright__social .footer-copyright__social-link {
        margin-left: 30px;
    }
    
    .modal__content {
        width: 340px;
    }

    .modal__form {
        margin-top: 21px;
    }

    .modal__input {
        &:nth-child(2) {
            margin-top: 10px;
        }
    }

    .modal__data {
        font-size: 14px;
        line-height: 120%;
    }

    .modal__checkbox {
        margin-top: 25px;
    }

    .modal__btn {
        margin-top: 17px;
    }

    .modal__close {
        top: 12px;
        right: 12px;
        path {
            stroke: #000;
        }
    }
}