.review--offset {
    margin-top: 35px;
}

.review__container {
    padding: 60px 40px 70px;
    background: #F2F4F7;
    border-radius: 20px;
}

.review__title {
    color: #14233D;
    font-size: 20px;
    font-weight: 600;
}

.review__slider {
    margin-top: 35px;
}

.review__slide {
    position: relative;
    width: 360px;
    padding: 27px 24px 70px;
    background: #FFFFFF;
    border-radius: 15px;
}

.review__text {
    color: #14233D;
    line-height: 140%;
}

.review__author {
    position: absolute;
    bottom: 25px;
    left: 50%;
    margin-bottom: 0;
    color: #ABB1C5;
    text-transform: uppercase;
    transform: translateX(-50%);
    &::before {
        position: absolute;
        bottom: 6px;
        left: -36px;
        width: 18px;
        height: 15px;
        background: url('../icons/about-us/review-author-icon.svg') no-repeat;
        content: '';
      }
}

.review__slider .slick-slide {
    width: 360px;
    margin-right: 40px;
}

.review__slider .slick-dots {
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-top: 40px;
    margin-bottom: 0;
    list-style-type: none;
}

.review__slider .slick-dots li {
    margin-right: 40px;
    &:nth-last-child(1) {
        margin-right: 0;
    }
}

.review__slider .slick-dots button {
    width: 17px;
    height: 17px;
    border: none;
    background: #ABB1C5;
    border-radius: 100%;
    font-size: 0;
    outline: none;
} 

.review__slider .slick-active button {
    background: #297FFF;
}
